  
  
   <nav  role="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="row logo hidden-xs">
                <div class="col-md-7">
                    <div style="float: left;">
                        <a href="http://discover.pbcgov.org/Pages/default.aspx" target="_blank">
                            <img src="/assets/images/pbc_logo.png" />
                        </a>
                    </div>
                    <div style="float: left; margin-left: 5px;">
                        <h3> Public Record Request System</h3>
                    </div>
                </div>
                <div class="col-md-5" style="padding-right: 5px !important;">
                    <div class="form-group" style="margin-top: 10px; margin-right: 5px;">
                        <div class="col-sm-12" style="text-align: right;">
                            <a href='#' style="color: white;"> Home </a> |
                            <a href="javascript:document.getElementById('logoutForm').submit()" style="color: white;">Log off</a>
                        </div>
                        <div>
                            <div class="col-sm-12" style="text-align: right;">
                                <span class="left-inner-addon" style="font-size: 16px; font-weight: bold;">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
            <div>
            <div class="navbar-header">
                    <button data-target=".bs-example-js-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand" style="color: white;">
                        Test Department
                    </span>
                </div>
                <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href='#' target="_blank" href = "http://pbc/qa_faqs/srs_faq.html">FAQ </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div>
        </div><!-- /.container-fluid -->
    </nav>


