 <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="row logo hidden-xs">
                <div class="col-md-7">
                    <div style="float: left;">
                        <a href="http://discover.pbcgov.org/Pages/default.aspx" target="_blank">
                            <img src="/assets/images/pbc_logo.png" />
                        </a>
                    </div>
                    <div style="float: left; margin-left: 5px;">
                        <h3> Public Record Request System</h3>
                    </div>
                </div>

            </div>
        </div>
    </nav>