.logo {
    background-color: #647397 !important;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif !important;
    color: #aaaaaa !important;
    background-image: linear-gradient(#121B2F, #647397) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#121B2F, endColorstr=#647397)" !important;
}

